<ngx-datatable
  #tabel
  [headerHeight]="50"
  [columnMode]="ColumnMode.standard"
  [footerHeight]="50"
  [limit]="perPage"
  [rowHeight]="'auto'"
  [rows]="rows"
  [scrollbarH]="true"
  class="app-table"
  [selectionType]="selectable ? SelectionType.checkbox : $any(null)"
  [selected]="selected"
  (select)="onSelect($event)"
>
  <ngx-datatable-column *ngIf="selectable"
    [width]="40"
    [canAutoResize]="false"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
  >
    <ng-template
      ngx-datatable-header-template
      let-value="value"
      let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn"
    >
      <div class="allRowsSelect">
        <nb-checkbox [checked]="allRowsSelected" (checkedChange)="selectFn(!allRowsSelected)"></nb-checkbox>
      </div>
    </ng-template>

    <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn"
    >
      <nb-checkbox [checked]="isSelected" (checkedChange)="onCheckboxChangeFn($event)"></nb-checkbox>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngFor="let column of columnsKeys()" [prop]="column" [name]="columns[column] ?? column" [sortable]="true">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="120" [canAutoResize]="false" [resizeable]="false" [sortable]="false" [draggable]="false">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <button [disabled]="!deletable" nbButton status="danger" (click)="_delete(row, rowIndex)"><nb-icon icon="trash-2-outline"></nb-icon></button>
      <button [disabled]="!editable" nbButton status="success"><nb-icon icon="edit-outline"></nb-icon></button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
