<nb-card>
  <nb-card-header>
    Add tag
  </nb-card-header>
  <nb-card-body class="add-tag">
    <nb-form-field>
      <nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon>
      <input
        #addTagInput
        nbInput
        status="primary"
        name="tag-name"
        placeholder="Tag name"
        (keyup.enter)="addTagEnterKeyupHandler()"
        [(ngModel)]="addingTagName"
        [disabled]="addingInProgress">
    </nb-form-field>
    <button
      nbButton
      status="primary"
      (click)="addTag()"
      [disabled]="addingTagName === '' || addingInProgress"
      [nbSpinner]="addingInProgress"
      nbSpinnerStatus="info">
      <nb-icon icon="plus-outline" pack="eva"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="loadingTags" nbSpinnerStatus="info" nbSpinnerSize="giant">
  <nb-card-header>
    Tag list
    <button class="refresh-button" nbButton outline status="primary" size="small"
      [nbSpinner]="loadingTags" npSpinnerStatus="info" nbSpinnerSize="tiny"
      nbTooltip="Refresh local cache by forcing data reload from firestore." nbTooltipStatus="info" nbTooltipIcon="info-outline" nbTooltipClass="tooltip"
      (click)="readTags(true)">
      <nb-icon icon="refresh-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <app-table
      [deletable]="true"
      [columns]="tags.columns"
      [rows]="tags.rows"
      (delete)="deleteTag($event)"
      [selectable]="true"
      [(selected)]="tags.selected">
    </app-table>
    <button
      class="delete-selected-btn"
      status="danger"
      nbButton [disabled]="tags.selected.length === 0"
      (click)="deleteSelected()">
        DELETE SELECTED
    </button>
  </nb-card-body>
</nb-card>
