.add-category {
  display: block;
  button {
    margin-top: 0.5rem;
    width: 80px;
    display: block;
    &:disabled {
      cursor: not-allowed;
    }
  }
  textarea {
    width: 320px;
    margin-top: .5rem;
  }
}

.refresh-button {
  margin-left: .5rem;
}

.delete-selected-btn {
  margin-top: .5rem;
}
