nb-card {
  width: 700px;
}
input {
  margin-bottom: .5rem;
  margin-top: .2rem;
}
textarea {
  resize: vertical;
}
button {
  margin-top: .5rem;
  &:not(:first-of-type) {
    margin-left: .5rem;
  }
}
