<nb-card>
  <nb-card-header>
    Add new media element
  </nb-card-header>
  <nb-card-body class="sg-custom">
    <span class="notice">
      Notice! In free Firebase plan you have limited storage and limited download transfer per day.
      If you're using Blaze plan you have pretty cheap storage but <u>transfer outbound</u> is expensive.
      Consider storing heavy files in some virtual drive hostings like for example MEGA, videos on vimeo or youtube.<br>
      Check out current Firebase pricing and free limits <a target="_blank" href="https://firebase.google.com/pricing">here.</a>
    </span>
    <app-upload></app-upload>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <app-browse-media></app-browse-media>
  </nb-card-body>
</nb-card>
