<nb-layout *ngIf="auth.user | async as user; else showLogin">
  <ng-template [ngIf]="userLoaded">
    <nb-layout-header fixed>
      <h1>Unholy Flame Alpha</h1>
    </nb-layout-header>

    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
    <p>Made by <a href="https://github.com/ScuroGuardiano">ScuroGuardiano</a></p>
    </nb-layout-footer>
  </ng-template>
</nb-layout>

<ng-template #showLogin>
  <app-login *ngIf="userLoaded"></app-login>
</ng-template>
