<ng-template [ngIf]="userLoaded">
  <nb-layout *ngIf="user; else showLogin">
    <nb-layout-header fixed>
      <h1>Unholy Flame Alpha</h1>
    </nb-layout-header>

    <!-- Unfortunately I can't put sidebar into seperate component, it needs to be direct child of nb-layout to work -->
    <nb-sidebar
      appIsHovered
      (hoverChange)="onSidebarHover($event)"
      class="app-sidebar"
      [state]="sidebarState">
      <app-navigation></app-navigation>
    </nb-sidebar>

    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
      <div class="app-foota">
        Copyright &copy; 2021&nbsp;<a href="https://github.com/ScuroGuardiano">ScuroGuardiano</a><br>
        License MIT
      </div>
    </nb-layout-footer>
  </nb-layout>
</ng-template>

<ng-template #showLogin>
  <app-login *ngIf="userLoaded"></app-login>
</ng-template>
