<nb-card>
  <nb-card-header>
    Add tag
  </nb-card-header>
  <nb-card-body class="add-tag">
    <nb-form-field>
      <nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon>
      <input
        #addTagInput
        nbInput
        status="primary"
        name="tag-name"
        placeholder="Tag name"
        (keyup)="addTagKeyupHandler($event)"
        [(ngModel)]="addingTagName"
        [disabled]="addingInProgress">
    </nb-form-field>
    <button
      nbButton
      status="primary"
      (click)="addTag()"
      [disabled]="addingTagName === '' || addingInProgress"
      [nbSpinner]="addingInProgress"
      nbSpinnerStatus="info">
      <nb-icon icon="plus-outline" pack="eva"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="loadingTags" nbSpinnerStatus="info" nbSpinnerSize="giant">
  <nb-card-header>
    Tag list
  </nb-card-header>
  <nb-card-body>
    <app-table [deletable]="true" [columns]="tags.columns" [rows]="tags.rows" (delete)="deleteTag($event)"></app-table>
  </nb-card-body>
</nb-card>
